.sideBarContainer{
    display: flex;
    flex: 0.3;
    flex-direction: column;
}
.sbHeader{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 15px;
}
.sbSearch{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 15px;
}
.searchBar{
    outline-width: 0;
    border: none;
    font-size: 1.25rem;
    margin-left: 5px;
}
.sbChats{
    background-color: white;
    flex: 1;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
}